.cards {
  width: 100%;

  .col {
    height: max-content;
  }

  &__wrapper {
    width: 100%;
    min-height: 45rem;
  }

  &__image {
    margin-bottom: 3rem;
  }

  &__card {
    border: 1px solid red;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 4.8rem 0 2.4rem;
  }
}
