@import "../components/variables";

.landing {
  height: 100%;
}

.landing .col {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 40vh;
}

.text {
  text-align: center;

  h2 {
    text-transform: capitalize;
    font-size: $landing-header2-mobile;
    line-height: 40px;
  }

  .btn-container {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
  }
  .btn {
    font-size: $btn-font-size;
    box-shadow: $btn-box-shadow;
    font-weight: 500;
    min-width: 8rem;
    height: 3rem;
    text-align: center;
    padding-top: 0.75rem;
  }
}

.image {
  padding-top: 3rem;
}

.ellipse {
  position: absolute;
  width: 100%;
  top: 30%;
  left: 30%;
  z-index: -2;
  min-height: 60%;
  border-top-left-radius: 316.5px;
  border-bottom-left-radius: 316.5px;
  background-color: $primary;
  overflow: hidden;
}

@media (min-width: $md) {
  .text {
    text-align: justify;
    h2 {
      font-size: $landing-header2-md;
      text-align: left;
    }

    .btn-container {
      margin-top: 1rem;
      justify-content: start;

      .btn {
        margin-right: 2rem;
      }
    }
  }

  .ellipse {
    min-height: 70%;
  }
}

@media (min-width: $middle) {
  .landing {
    padding-top: 3.5rem;
  }

  .text {
    padding-right: 3rem;

    h2 {
      font-size: $landing-header2-desktop;
      line-height: 3.25rem;
    }

    p {
      font-size: $text-paragraph;
    }
  }
}

@media (max-width: $md) {
  .text {
    order: 2;
  }
}
