@import "../components/variables";

nav {
  button {
    text-transform: uppercase;
  }
  height: 3rem;
}

.navbar {
  padding: 0;
}

.navbar-toggler {
  padding: 0;
  font-size: 1rem;
  &:focus {
    box-shadow: none;
    border: none;
  }
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.bookmark-logo {
  display: inline-flex;
  width: 25px;
  height: 25px;
  background: url("../../../images/logo-bookmark.svg");
  margin-right: 0.6rem;
}

.nav-link,
.navbar-brand {
  color: $very-dark-blue;
  text-transform: uppercase;
  letter-spacing: $navlink-letter-spacing;
}

.nav-link {
  font-size: $navlink-desktop-font-size;
}

.nav-link:hover {
  color: $secondary;
}

.navbar-brand {
  font-weight: 500;
}

#login {
  color: white;
  min-width: 7rem;
  font-size: $navlink-desktop-font-size;
  box-shadow: $btn-box-shadow;
  margin-right: 5rem;

  &:hover {
    background-color: transparent;
    color: $secondary;
  }
}

.navbar-toggler-icon {
  height: 40px;
  background: url("../../../images/icon-hamburger.svg");
  background-color: white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.nav-item {
  margin-left: 2rem;
}

//Start of Dark theme mobile ul
.mobile-expanded {
  position: absolute;
  z-index: 10;
  margin: -$mobile-padding-stand;
  padding: $mobile-padding-stand;
  background-color: rgba($very-dark-blue, 0.9);
  height: 100vh;
  width: 100vw;
  align-items: flex-start;

  #navbarNav {
    margin-top: 2rem;
  }

  .nav-item {
    margin-left: 0;
    text-align: center;
    padding: 0.5rem 0;
    font-size: $navlink-mobile-font-size;
    border-top: 1px solid rgba($grayish-blue, 0.5);

    &:hover {
      font-weight: 500;
    }

    button {
      margin: 1rem 0;
      padding: 0.5rem 1rem;
      width: 100%;
    }
  }

  .nav-link,
  .navbar-brand {
    color: white;
  }

  .bookmark-logo {
    background: url("../../../images/logo-bookmark-dark.svg");
  }

  .navbar-toggler-icon {
    background: url("../../../images/icon-close.svg");
    color: white;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  #login {
    font-size: $navlink-mobile-font-size;
    background-color: transparent;
    border-color: rgba($grayish-blue, 0.5);

    &:hover {
      background-color: rgba($grayish-blue, 0.5);
      color: $very-dark-blue;
    }
  }
}
//End of mobile dark u
