.hero {
  padding: $default-padding-x-large;
  padding-right: 0;
  padding-top: 0;

  .row {
    align-items: center;
  }

  &__text {
    padding-right: 6rem;
    text-align: start;

    .btn {
      font-weight: 500;
    }
  }

  &__image-container {
    position: relative;
    overflow-x: clip;
    z-index: 5;
  }

  &__image {
    position: relative;
    margin-left: -2rem;
    z-index: 5;
    @include img-reset;
  }
}
