.hero {
  @include standard-padding;
  padding-right: 0;

  .row {
    align-items: center;
  }

  &__text {
    padding-right: 6rem;
    text-align: start;

    .btn {
      font-weight: 500;
    }
  }

  &__image-container {
    position: relative;
    z-index: 5;
  }
}

@media only screen and (max-width: $v-large) {
  .hero {
    &__text {
      padding-right: 3rem;
    }
  }
}

@media only screen and (max-width: $large) {
  .hero {
    &__text {
      padding-right: 1rem;
    }
  }
}

@media only screen and (max-width: $medium) {
  .hero {
    margin-top: 14.9rem;
    &__image-container {
      order: 0 !important;
    }

    &__text {
      order: 2;
      margin-top: 4.8rem;
      text-align: center;
      padding-right: 0;

      br {
        display: none;
      }
    }

    &__btn-container {
      display: flex;

      .btn {
        width: 50%;
        padding: 1.2rem 0;
      }
    }
  }
}
