* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

$desktop: 1440px;
$mobile: 375px;
$middle: 1024px;

$mobile-padding-stand: 1.875rem;

$navlink-desktop-font-size: 0.9rem;
$navlink-mobile-font-size: 1.4rem;
$navlink-letter-spacing: 0.08rem;
