// PADDING
$default-padding-x-large: 4.8rem 12% 0 12%;

// COLOR-PALETTE
$soft-blue: hsl(231, 69%, 60%);
$soft-red: hsl(0, 94%, 66%);
$grayish-blue: hsl(229, 8%, 60%);
$very-dark-blue: hsl(229, 31%, 21%);
$light-gray: #f7f7f7;

$color-primary: $soft-blue;
$color-secondary: $soft-red;
$text-primary: $very-dark-blue;
$text-secondary: $grayish-blue;
$text-hover: $soft-red;

// FONTS
$font-size-link: 1.3rem;
$font-weight-reg: 400;
$font-weight-bold: 500;
