.cards {
  margin-top: 4.8rem;
  width: 100%;

  &__line {
    width: 100%;
    height: 5px;
    background-image: url("../assets/images/bg-dots.svg");
    background-repeat: repeat-x;
    margin-bottom: 2rem;
  }

  &__text {
    margin-bottom: 2rem;
  }

  .col {
    height: max-content;
  }

  &__wrapper {
    width: 100%;
    min-height: 45rem;
  }

  &__image {
    margin-bottom: 3rem;
  }

  &__card {
    border: 1px solid white;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 4.8rem 0 2.4rem;
    border-radius: 10px;
    box-shadow: 0 8px 20px 4px rgba($grayish-blue, 0.15);
    transition: all 0.3s ease-in;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 8px 10px 4px rgba($grayish-blue, 0.25);
    }
  }
}

@media only screen and (max-width: $large) {
  .cards {
    &__card {
      max-width: 40rem;
      margin: 4rem auto;
    }
  }
}
