.features {
  @include standard-padding;

  &__description {
    @include heading-box-centered;
  }

  #features-panel {
    min-height: 41.7rem;
  }

  &__list {
    max-width: 73rem;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 5rem auto;
    font-size: 1.6rem;

    .nav-item {
      margin-right: 0;
      width: 100%;
      text-align: center;
      border-bottom: 2px solid $light-gray;
    }

    .nav-link {
      color: $text-secondary;
      height: 100%;
      display: block;
      padding-bottom: 2.7rem;

      &.active {
        color: $text-primary;
      }
    }
  }

  &__image-container {
    position: relative;
  }
  &__image {
    position: relative !important;
    z-index: 7;
    @include img-reset;
  }

  &__text {
    margin: auto 0;
    padding: 0 0 3rem 8%;
  }
}

.tab-pane {
  min-height: max-content;

  .row {
    justify-content: center;
  }
}

#feature1 {
  .features__image-container {
    padding-bottom: 5rem;
  }
}

@media only screen and (max-width: $large) {
  .features {
    &__text {
      text-align: center;
      padding: 3.2rem 0;
    }
  }
}

@media only screen and (min-width: $medium) {
  .nav-link.active {
    border-bottom: 4px solid $soft-red;
  }
}

@media only screen and (max-width: $medium) {
  .features {
    &__list {
      flex-direction: column;
      border-top: 2px solid $light-gray;
    }

    .nav-link {
      display: inline-block;
      padding: 2rem 0;
      position: relative;

      &.active::after {
        content: "";
        width: 100%;
        @include absolute($bottom: 0, $left: 0);
        border-bottom: 4px solid $soft-red;
      }
    }
  }
}
